body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  color: #000000;
  overflow-y: scroll;
  line-height: 1.8;
}
hr {
  height: 0px;
  border: 0;
  border-top: solid 0px	;
  margin: 0;
}